h1
{
    font-size: 90px;
    color: rgb(220, 77, 20);
    text-align: center;
}
img
{margin-left: 100px;
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
}
li
{
    font-size: 50px;
    margin-left: 20px;
    padding: 20px;
}
#result
{
    width: 20%;
    height: 20%;
    font-size: 40px;
}
#images-section
{
    margin: 155px;
}
